<div id="header" class="header-sticky box-shadow">
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
            <div class="d-flex justify-content-between w-100">
                <div>
                    <div [routerLink]="['/home']"><span class="navbar-brand logo-img-login p-0 hand"><img
                                loading="lazy" src="assets/images/logo.png" width="135" height="35"
                                alt="logo"></span></div>
                </div>
            
                <div *ngIf="isHomeRoute()" class="d-flex">
                    <button class="blog-btn me-2" type="button">Blog</button>
                    <button [routerLink]="['/login']" class="loginBtn ml-2" type="button">Log In</button>
                </div>
                <div *ngIf="!isHomeRoute()" class="d-flex">
                  <!-- <img src="assets/images/user-circle-48.png" height="36px" width="36px">    -->
                  <div class="btn-group">
                 
                    <img src="assets/images/user-circle-48.png" class="cursor-pointer" height="36px" width="36px" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   
                    <div class="dropdown-menu dropdown-menu-right">
                      <button [routerLink]="['/profile']" class="dropdown-item" type="button">Profile</button>
                      <button [routerLink]="['/settings']" class="dropdown-item" type="button">Settings</button>
                      <button class="dropdown-item" type="button">About Us</button>
                      <button class="dropdown-item" type="button">Help</button>
                      <button [routerLink]="['/login']" class="dropdown-item color-red" type="button">Sign Out</button>
                    </div>
                  </div>
                </div>
            
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            </div>
        </div>
    </nav>
</div>