<div class="body-content bg-light">
        <div class="main-content-div">
            <div class="pt-2"><span class="heading-text">Account Settings</span></div>
            
            <div class="profile-box mt-3">
                <div class="row">
                    <!-- Side Menu Row -->
                    <div class="col-sm-2">
                        <div class="side-menu-list" >
                            <div class="side-menu-div flex-direction-coloumn">
                                <span class="cursor-pointer sub-menu-text p-6 menu-active" [class.menu-active]="currentTab === 'personalInfo'"
                                (click)="switchTab('personalInfo')">My Profile</span>
                                <span class="cursor-pointer sub-menu-text p-6" [class.menu-active]="currentTab === 'professionalInfo'"
                                (click)="switchTab('professionalInfo')">Professional</span>
                                <span class="cursor-pointer sub-menu-text p-6" [class.menu-active]="currentTab === 'servicesInfo'"
                                (click)="switchTab('servicesInfo')">Services</span>
                                <span class="cursor-pointer sub-menu-text p-6" [class.menu-active]="currentTab === 'billingInfo'"
                                (click)="switchTab('billingInfo')">Billing</span>
                            </div>
                        </div>
                        <div class="delete-text cursor-pointer"><span class="sub-menu-text p-6 color-red">Delete
                                Account</span></div>
                        <div class="vertical-bar vertical-bar-settings"></div>
                    </div>
                    <!-- Main Content -->
                    <div class="col-sm-10">
                        <!-- Personal Info -->
                        <div *ngIf="currentTab == 'personalInfo'" class="side-menu-content" >
                            <div class="profile-sub-div">
                                <div><span class="small-text-1">My Profile</span></div>
                                <div class="profile-box mt-2">
                                    <table width="100%">
                                        <tr>
                                            <td width="10%"><img src="assets/images/avatar1.png" class="br-100"
                                                    height="54px" width="54px"></td>
                                            <td width="84%">
                                                <div class="pl-2 d-flex flex-direction-coloumn">
                                                    <span class="title-text-2">Ashish Singh</span>
                                                    <span class="small-text-light-1">Full Stack Developer</span>
                                                    <span class="small-text-light-2">Delhi, India</span>
                                                </div>
                                            </td>
                                            <td >
                                                <div >
                                                    <span class="edit-btn">Edit</span>
                                                    <span class="edit-icon">
                                                        <i class="fa fa-pencil pencil-size" aria-hidden="true"></i></span>
                                                </div>
                                            
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="profile-box mt-3">
                                    <div>
                                        <table width="100%">
                                            <tr>
                                                <td width="95%">
                                                    <div class="small-text-1">Personal Information</div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <span class="edit-btn">Edit</span>
                                                        <span class="edit-icon"><i class="fa fa-pencil pl-1 pencil-size"
                                                            aria-hidden="true"></i></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="pt-2">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <div class="d-flex flex-direction-coloumn">
                                                        <span class="sub-menu-text">First Name</span>
                                                        <span class="small-text-1">Ashish</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex flex-direction-coloumn">
                                                        <span class="sub-menu-text">Last Name</span>
                                                        <span class="small-text-1">Singh</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="50%">
                                                    <div class="d-flex flex-direction-coloumn">
                                                        <span class="sub-menu-text">Email</span>
                                                        <span class="small-text-1 truncate">ashusingh584&#64;gmail.com</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex flex-direction-coloumn">
                                                        <span class="sub-menu-text">Mobile</span>
                                                        <span class="small-text-1">91-9654936407</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="50%">
                                                    <div class="d-flex flex-direction-coloumn">
                                                        <span class="sub-menu-text">Bio</span>
                                                        <span class="small-text-1">Technical Lead</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="profile-box mt-3">
                                    <div>
                                        <table width="100%">
                                            <tr>
                                                <td width="95%">
                                                    <div class="small-text-1">Address</div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <span class="edit-btn">Edit</span>
                                                        <span class="edit-icon"><i class="fa fa-pencil pl-1 pencil-size"
                                                            aria-hidden="true"></i></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="pt-2">
                                        <table width="100%">
                                            <tr>
                                                <td width="50%">
                                                    <div class="d-flex flex-direction-coloumn">
                                                        <span class="sub-menu-text">Address Line</span>
                                                        <span class="small-text-1 truncate">677/3/3 Ashok
                                                            Vatika</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex flex-direction-coloumn">
                                                        <span class="sub-menu-text">City/State</span>
                                                        <span class="small-text-1">Delhi</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="40%">
                                                    <div class="d-flex flex-direction-coloumn">
                                                        <span class="sub-menu-text">Country</span>
                                                        <span class="small-text-1">India</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex flex-direction-coloumn">
                                                        <span class="sub-menu-text">Postal Code</span>
                                                        <span class="small-text-1">112211</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="profile-box mt-3">
                                    <div>
                                        <table width="100%">
                                            <tr>
                                                <td width="95%">
                                                    <div class="small-text-1">About Us</div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <span class="edit-btn">Edit</span>
                                                        <span class="edit-icon"><i class="fa fa-pencil pl-1 pencil-size"
                                                            aria-hidden="true"></i></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div >
                                        <table width="100%">
                                            <tr>
                                                <td width="100%">
                                                    <div class="d-flex flex-direction-coloumn">
                                                        <span class="sub-menu-text">I thrive on the excitement of turning ideas into reality through code. With a solid foundation in both front-end and back-end development, I specialize in building intuitive user interfaces and architecting efficient server-side systems.</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="profile-box box-shadow mt-3">
                                  <table width="100%">
                                   <tr>
                                     <td width="5%"><img src="assets/images/resume.png" width="42px" height="42px"></td>
                                     <td><span class="d-block title-text-2">Ashish_Singh-Resume.pdf</span><span class="sub-menu-text">2 MB</span></td>
                                     <td align="right"><div><span class="icon-background"><i class="fa fa-pencil"></i></span><span class="icon-background"><i class="fa fa-download"></i></span></div></td>
                                    </tr>
                                  </table>
                                </div>
                                <div class="delete-mobile-btn mt-3">
                                    <button class="delete-button"><span>Delete Account</span><span><i class="fa fa-trash-o ml-2" aria-hidden="true"></i></span></button>
                                </div>
                            </div>
                        </div>
                        <!-- Professional Info -->
                        <div *ngIf="currentTab == 'professionalInfo'" class="side-menu-content">
                            <div class="profile-sub-div">
                                <div ><span class="small-text-1">Professional Info</span></div>
                                <!-- Skills & Experience -->
                                <div class="profile-box mt-2">
                                    <div>
                                        <table width="100%">
                                            <tr>
                                                <td width="95%">
                                                    <div class="small-text-1">Skills and Experience</div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <span class="edit-btn">Edit</span>
                                                        <span class="edit-icon"><i class="fa fa-pencil pl-1 pencil-size"
                                                            aria-hidden="true"></i></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="pt-2">
                                        <table width="100%">
                                            <tr>
                                                <td width="40%">
                                                    <div class="d-flex flex-direction-coloumn">
                                                        <span class="sub-menu-text">Total Expierence</span>
                                                        <span class="small-text-1">5 Years 8 Months</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex flex-direction-coloumn">
                                                        <span class="sub-menu-text">Current Role</span>
                                                        <span class="small-text-1">Full Stack Developer</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="40%">
                                                    <div class="d-flex flex-direction-coloumn">
                                                        <span class="sub-menu-text">Industry</span>
                                                        <span class="small-text-1">Information Technology</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex flex-direction-coloumn">
                                                        <span class="sub-menu-text">Skils</span>
                                                        <span class="small-text-1">NodeJs & JavaScript</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- Employer Info -->
                                <div class="profile-box mt-3">
                                    <div>
                                        <table width="100%">
                                            <tr>
                                                <td width="95%">
                                                    <div class="small-text-1">Employer Info</div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <span class="edit-btn">Edit</span>
                                                        <span class="edit-icon"><i class="fa fa-pencil pl-1 pencil-size"
                                                            aria-hidden="true"></i></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="mt-3">
                                        <div class="profile-strap">
                                          <div class="strap-sub-div">
                                                                                                  
                                            <div class="strap-content">
                                                <span class="sub-menu-text d-block">Company Name</span>
                                                <span class="small-text-1">Infosys Pvt Ltd</span>
                                            </div>
                                                                             
                                            <div class="strap-content">
                                                <span class="sub-menu-text d-block">Designation</span>
                                                <span class="small-text-1">Technology Analyst</span>
                                            </div>
                                        
                                            <div class="strap-content">
                                                <span class="sub-menu-text d-block">From Date</span>
                                                <span class="small-text-1">23 March 2021</span>
                                            </div>
                                                                               
                                            <div class="strap-content">
                                                <span class="sub-menu-text d-block">To Date</span>
                                                <span class="small-text-1">Now</span>
                                            </div>
                              

                                          </div>
                                        </div>
                                        <div class="profile-strap">
                                         <div class="strap-sub-div">                                                    
                                            <div class="strap-content">
                                                <span class="sub-menu-text d-block">Company Name</span>
                                                <span class="small-text-1">Agami Technologies</span>
                                            </div>
                                            <div class="strap-content">
                                                <span class="sub-menu-text d-block">Designation</span>
                                                <span class="small-text-1">Full Stack Developer</span>
                                            </div>
                                            <div class="strap-content">
                                                <span class="sub-menu-text d-block">From Date</span>
                                                <span class="small-text-1">01 Janurary 2019</span>
                                            </div>
                                            <div class="strap-content">
                                                <span class="sub-menu-text d-block">To Date</span>
                                                <span class="small-text-1">28 Feb 2023</span>
                                            </div>
                                         </div>
                                        </div>
                                        <div class="profile-strap">
                                          <div class="strap-sub-div">                                                     
                                            <div class="strap-content">
                                                <span class="sub-menu-text d-block">Company Name</span>
                                                <span class="small-text-1">TCS</span>
                                            </div>
                                            <div class="strap-content">
                                                <span class="sub-menu-text d-block">Designation</span>
                                                <span class="small-text-1">System Engineer</span>
                                            </div>
                                        
                                            <div class="strap-content">
                                                <span class="sub-menu-text d-block">From Date</span>
                                                <span class="small-text-1">01 Janurary 2018</span>
                                            </div>
                                    
                                            <div class="strap-content">
                                                <span class="sub-menu-text d-block">To Date</span>
                                                <span class="small-text-1">31 Novemeber 2018</span>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Education Info -->
                                <div class="profile-box mt-3">
                                    <div>
                                        <table width="100%">
                                            <tr>
                                                <td width="95%">
                                                    <div class="small-text-1">Education Info</div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <span class="edit-btn">Edit</span>
                                                        <span class="edit-icon"><i class="fa fa-pencil pl-1 pencil-size"
                                                            aria-hidden="true"></i></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="mt-2">
                                        <div class="profile-strap">
                                            <div class="strap-sub-div">
                                                <div class="strap-content">
                                                    <span class="sub-menu-text d-block">Degree</span>
                                                    <span class="small-text-1">B.Tech</span>
                                                </div>
                                                <div class="strap-content">
                                                    <span class="sub-menu-text d-block">College</span>
                                                    <span class="small-text-1">MRCE</span>
                                                </div>
                                                <div class="strap-content">
                                                    <span class="sub-menu-text d-block">Department</span>
                                                    <span class="small-text-1">IT</span>
                                                </div>
                                                <div class="strap-content">
                                                    <span class="sub-menu-text d-block">Year</span>
                                                    <span class="small-text-1">2018</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="profile-strap">
                                            <div class="strap-sub-div">
                                                <div class="strap-content">
                                                    <span class="sub-menu-text d-block">Degree</span>
                                                    <span class="small-text-1">High School</span>
                                                </div>
                                                <div class="strap-content">
                                                    <span class="sub-menu-text d-block">School</span>
                                                    <span class="small-text-1">GHPS</span>
                                                </div>
                                                <div class="strap-content">
                                                    <span class="sub-menu-text d-block">Department</span>
                                                    <span class="small-text-1">GHPS</span>
                                                </div>
                                                <div class="strap-content">
                                                    <span class="sub-menu-text d-block">Year</span>
                                                    <span class="small-text-1">2014</span>
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Service Info -->
                        <div *ngIf="currentTab == 'servicesInfo'" class="side-menu-content" >
                            <div class="profile-sub-div">
                                <div><span class="small-text-1">Services</span></div>
                                <div class="profile-box mt-2">
                                    <div>
                                        <table width="100%">
                                            <tr>
                                                <td width="95%">
                                                    <div class="small-text-1">Active Services</div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <span class="edit-btn">Edit</span>
                                                        <span class="edit-icon"><i class="fa fa-pencil pl-1 pencil-size"
                                                            aria-hidden="true"></i></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="service-card-main">
                                        <!-- Referral Price Card -->
                                        <div class="service-card box-shadow mt-3">
                                            <table width="100%" class="h-90">
                                                <tr class="h-10">
                                                    <td>
                                                        <div class="text-align-center">
                                                            <span><b>Rs</b></span>
                                                            <span class="price-text">399</span>
                                                            <span class="small-text-2">/ Per Referral</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="h-50">
                                                    <td>
                                                        <div>
                                                            <ul>
                                                                <li class="font-10">Eligible to refer someone in my
                                                                    current
                                                                    organisation.</li>
                                                                    <li class="font-10">The amount will be paid after 2-3 days you referred someone.</li>
                                                                    <li class="font-10">You cannot modify the price once anyone requested for referral.</li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="text-align-center"><span
                                                                class="card-title-button">Can
                                                                Refer</span></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!-- Connect Price Card -->
                                        <div class="service-card box-shadow mt-3">
                                            <table width="100%" class="h-90">
                                                <tr class="h-10">
                                                    <td>
                                                        <div class="text-align-center">
                                                            <span><b>Rs</b></span>
                                                            <span class="price-text">299</span>
                                                            <span class="small-text-2">/ Connect</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="h-50">
                                                    <td>
                                                        <div>
                                                            <ul>
                                                                <li class="font-10">Information on work-life
                                                                    balance.</li>
                                                                <li class="font-10">Interview guidence and possible
                                                                    question.</li>
                                                                <li class="font-10">Interview on company culture and
                                                                    employee value.</li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="text-align-center"><span
                                                                class="card-title-button">Can
                                                                Connect</span></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!-- Course Price Card -->
                                        <div class="service-card box-shadow mt-3">
                                            <table width="100%" class="h-90">
                                                <tr class="h-10">
                                                    <td>
                                                        <div class="text-align-center">
                                                            <span><b>Rs</b></span>
                                                            <span class="price-text">999</span>
                                                            <span class="small-text-2">/ lifetime course</span>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="h-50">
                                                    <td>
                                                        <div>
                                                            <ul>
                                                                <li class="font-10">Can teach daily 1-2 hr.</li>
                                                                <li class="font-10">Full stack development course.
                                                                </li>
                                                                <li class="font-10">Full course on how to crack MNC
                                                                    interviews.</li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="text-align-center"><span
                                                                class="card-title-button">Mentor</span></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="currentTab == 'billingInfo'" class="side-menu-content" >
                            <div class="profile-sub-div">
                                <div><span class="small-text-1">Billing</span></div>
                                <div class="profile-box mt-2">
                                    <div>
                                        <table width="100%">
                                            <tr>
                                                <td width="95%">
                                                    <div class="small-text-1">Account Details</div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <span class="edit-btn">Edit</span>
                                                        <span class="edit-icon"><i class="fa fa-pencil pl-1 pencil-size"
                                                            aria-hidden="true"></i></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="pt-2">
                                        <table width="100%">
                                            <tr>
                                                <td width="40%">
                                                    <div class="d-flex flex-direction-coloumn">
                                                        <span class="sub-menu-text">Account Number</span>
                                                        <span class="small-text-1">15xxxxxxxxxxxx</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex flex-direction-coloumn">
                                                        <span class="sub-menu-text">Account Holder's Name</span>
                                                        <span class="small-text-1">Ashish Singh</span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="40%">
                                                    <div class="d-flex flex-direction-coloumn">
                                                        <span class="sub-menu-text">IFSC Code</span>
                                                        <span class="small-text-1">INDB000929</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex flex-direction-coloumn">
                                                        <span class="sub-menu-text">Bank</span>
                                                        <span class="small-text-1">Indusland Bank</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                                <div class="profile-box mt-3">
                                    <div>
                                        <table width="100%">
                                            <tr>
                                                <td width="95%">
                                                    <div class="small-text-1">Saved Cards</div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <span class="edit-btn">Edit</span>
                                                        <span class="edit-icon"><i class="fa fa-pencil pl-1 pencil-size"
                                                            aria-hidden="true"></i></span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="mt-3">
                                        <div class="profile-strap">

                                            <div class="strap-sub-div">
                                                <div class="strap-content">
                                                    <span class="sub-menu-text d-block">Card Number</span>
                                                    <span class="small-text-1">XXXX-XXXX-XXXX-1299</span>
                                                </div>
                                                <div class="strap-content">
                                                    <span class="sub-menu-text d-block">CVV</span>
                                                    <span class="small-text-1">***</span>
                                                </div>
                                                <div class="strap-content">
                                                    <span class="sub-menu-text d-block">Expiry</span>
                                                    <span class="small-text-1">03/28</span>
                                                </div>
                                                <div class="strap-content">
                                                    <span class="sub-menu-text d-block">Card Holder Name</span>
                                                    <span class="small-text-1">Ashish Singh</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="profile-strap">
                                            <div class="strap-sub-div">
                                                <div class="strap-content">
                                                    <span class="sub-menu-text d-block">Card Number</span>
                                                    <span class="small-text-1">XXXX-XXXX-XXXX-9283</span>
                                                </div>
                                                <div class="strap-content">
                                                    <span class="sub-menu-text d-block">CVV</span>
                                                    <span class="small-text-1">***</span>
                                                </div>
                                                <div class="strap-content">
                                                    <span class="sub-menu-text d-block">Expiry</span>
                                                    <span class="small-text-1">03/24</span>
                                                </div>
                                                <div class="strap-content">
                                                    <span class="sub-menu-text d-block">Card Holder Name</span>
                                                    <span class="small-text-1">Ashish Singh</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
