  /* Profile */
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black !important;
    background-color: white !important;
    border: none;
    border-bottom: 4px solid black;
  }
  .nav-link {
    color: var(--primary-light-7) !important;
  }
  .profile-sub-div{
    width: 100%;
  }
  .profile-box {
    width: 100%;
    border-radius: 6px;
    background-color: var(--white);
    padding: 12px !important;
  }
  .side-menu-div {
    display: flex;       
  }
  .side-menu-list{
    padding: 30px 15px 5px 25px;
  }
  .side-menu-content{
    padding: 13px 0px 5px 0px;;
  }
  .menu-active {
    background-color: var(--blue-menu-bg-active); 
    width: 100%;
    border-radius: 26px; 
    padding-left: 12px; 
    font-weight: 700;
    color: var(--blue-menu-active); ;
  }
  .vertical-bar-settings {    
    top:15%;
    left: 95%;
    height: 80%;
  }
  .profile-box{
    width: 100%;
    border-radius: 6px;
    background-color: var(--white);
    border: 1px solid #ddd;   
    padding: 8px !important;
  }
  .edit-btn {
    border: 1px solid #ddd; 
    border-radius: 12px; 
    padding: 5px 10px 5px 10px;
    color: var(--gray-dark);
    font-size: 14px;
  }
  .pencil-size {
    font-size:13px;
    color: var(--gray-dark);
  }
  .profile-strap {
    background-color: var(--color-light); 
    padding: 9px 12px 9px 12px;
    border-radius: 10px;
    margin-top: 1%;
  }
  .strap-sub-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .strap-content{
    width: 25%;
  }
  .service-card-main {
    display: flex;
  }
  .service-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 30%;
    margin-left: 2%;
    height: 250px;
  }
  .card-body {
    padding: 0px !important;
    padding-bottom: 32px !important;
  }
  .card-title-button {
    background-color: var(--primary-dark);
    color: white;
    padding: 8px 20px 8px 20px;
    border-radius: 20px;
  }
  .price-text{
    font-size: 50px;
    font-weight: 600;
    color: var(--blue-menu-active);
    font-family: 'Futura PT', Sans-Serif;   
  }
  .card-sub-text{
    font-size: 6px;
  }
  .delete-text {
    margin-top: 20%;
    padding-left: 20px;
  }
  .delete-button {
    width: 100%;
    background-color: rgb(243, 87, 87);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px;
  }
  .delete-mobile-btn{
    display: none;
  }
  .edit-div-set{
    margin-bottom: 38%;
  }
  .edit-icon{
    display: none;
  }
  .icon-background {
    border-radius: 4px; 
    padding: 4px 8px 4px 8px; 
    border: 1px solid #eee; 
    margin-left: 3px;
  }

  @media only screen and (max-width: 600px) {
    .col-sm-10{
      padding: 0px;
    }
    .col-sm-2{
      padding: 0px;
    }
    .delete-mobile-btn{
      display: block; 
    }
    .edit-btn {
      display: none;
    }
    .edit-icon{
      display: block;
    }
    .sub-menu-text {
      font-size: 12px;
    }
  .side-menu-div {
    display: inline;       
  }
  .side-menu-list{
    padding: 5px 0px 0px 5px;
  }
  .delete-text {
    display: none;
  }
  .vertical-bar{
    display: none;
  }
  .edit-btn{
    border: 1px solid var(--color-light-ddd); 
    border-radius: 5px; 
    padding: 1px 8px 1px 8px;
    color: var(--gray-dark);
    font-size: 8px; 
  }
  .truncate 
   {
      width: 100px; 
      white-space: nowrap; /* Prevent text from wrapping */
      overflow: hidden; /* Hide the overflowing text */
      text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
    
  }
  .profile-sub-div{
    width: 100%;
 }
  .menu-active {
    background-color: white; 
    border-bottom: 1px solid;
    border-radius: 2px; 
    padding-left: 5px; 
  }
  .strap-content{
    width: 40%;
    padding: 4;
  }
  .service-card-main {
    display: inline;
  }
  .service-card {
    margin-left: 5%;
    width: 90%;
    height: 300px;
  }

}