<div class="mob-bottom-menu">
    <!-- Mobile Menu content -->
        <table>
            <tr>
                <td align="center">
                    
                        <div [routerLink]="['/dashboard']" class="mob-bottom-menu-options mob-bottom-menu-active">
                            <span class="d-block mob-bottom-menu-icon"><i class="fa fa-home"
                                    aria-hidden="true"></i></span>
                            <span class="mob-bottom-menu-text">Home</span>
                        </div>
                </td>
                <td align="center">
                    
                        <div [routerLink]="['/referral']" class="mob-bottom-menu-options">
                            <span class="d-block mob-bottom-menu-icon"><i class="fa fa-users"
                                    aria-hidden="true"></i></span>
                            <span class="mob-bottom-menu-text">Referral</span>
                        </div>
                </td>
                <td align="center">
                        <div (click)="openCreatePostModal()" class="mob-bottom-menu-options">
                            <span class="d-block mob-bottom-menu-icon"><i class="fa fa-plus-square"
                                    aria-hidden="true"></i></span>
                            <span class="mob-bottom-menu-text">Post</span>
                        </div>
                </td>
                <td align="center">    
                    <div [routerLink]="['/notification']" class="mob-bottom-menu-options">
                            <span class="d-block mob-bottom-menu-icon"><i class="fa fa-bell"
                                    aria-hidden="true"></i></span>
                            <span class="mob-bottom-menu-text">Notifications</span>
                            <span class="notification-badge">7</span>
                        </div>
                </td>
                <td align="center">
                        <div [routerLink]="['/profile']" class="mob-bottom-menu-options">
                            <span class="d-block mob-bottom-menu-icon"><i class="fa fa-user"
                                    aria-hidden="true"></i></span>
                            <span class="mob-bottom-menu-text">Profile</span>
                        </div>         
                </td>
            </tr>
        </table>
</div>