<div class="body-content">
    <div class="container bg-light">
        <div class="carousel slide" data-ride="carousel" style="padding-top: 12px;">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="img-container">
                <img class="d-block w-100" src="assets/images/carousel1.png" alt="First slide">
                <div class="carousel-text-1">Are you looking for a</div>
                <div class="carousel-text-refferal">Referral?</div>
                <div class="carousel-text-2">Where connection pave the way to opportunities! our platform empower user to
                  seek referrals from individuals they admire or trust. Wheather you're exploring new career paths,
                  seeking professional
                  advice, or looking for a recommedations, our platform facilitates seamless networking.simply submit a
                  request, and our network of influencers, proferssionals, and experts can provide the referrals you need
                  to succeed.
                  Join us today and unlock the power of meaningful connection.
                </div>
                <div>
                  <button class="black-btn carousel-get-started-btn black-btn-gradient">Get Started</button>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="img-container">
                <img class="d-block w-100" src="assets/images/carousel2.png" alt="Second slide">
  
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="pt-50">
          <span class="refermate-journey"> The ReferMate Journey</span>
          <div class="journey-box">
            <div class="journey-box-title">Say hello to your dream job with ReferMate</div>
  
            <div class="image-grid">
              <hr class="horizontal-bar horizontal-bar-homepage">
              <div class="imageContainer">
                <div class="image-base">
                  <img src="assets/images/register.png" class="refermate-journey-img">
                </div>
                <div class="image-text">Register</div>
              </div>
              <div class="imageContainer">
                <div class="image-base">
                  <img src="assets/images/update-profile.png" class="refermate-journey-img">
                </div>
                <div class="image-text">Update profile</div>
              </div>
              <div class="imageContainer">
                <div class="image-base">
                  <img src="assets/images/refer.png" class="refermate-journey-img">
                </div>
                <div class="image-text">Search Referral</div>
              </div>
              <div class="imageContainer">
                <div class="image-base">
                  <img src="assets/images/shortlist.png" class="refermate-journey-img">
                </div>
                <div class="image-text">Get Shortlisted</div>
              </div>
              <div class="imageContainer">
                <div class="image-base">
                  <img src="assets/images/hired.png" class="refermate-journey-img">
                </div>
                <div class="image-text">Get Hired</div>
              </div>
            </div>
  
            <div class="btn-container">
              <div>
                <button class="common-journey-btn light-3-btn button-text-1 text-uppercase mr-2">Know More</button>
                <button class="common-journey-btn black-btn button-text-1 text-uppercase">Login</button>
              </div>
            </div>
  
          </div>
        </div>
  
        <div class="hompage-content-div">
          <div class="row">
            <div class="col-sm-6">
              <span style="padding-left: 10px;">
                <h1>How It Works?</h1>
              </span>
              <p>It is a long established fact that a distribution of letters, as opposed to using 'Content here, content
                here', making it look like readable English. Many desktop publishing packages and web page editors now use
                Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still
                in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on
                purpose (injected humour and the like).</p>
              <p style="padding-top: 10px;">orem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
              </p>
              <div><button style="float: right;" class="common-journey-btn light-3-btn">Try it Out</button></div>
            </div>
            <div class="col-sm-6">
              <div class="large-image-base">
                <img src="assets/images/dashboard2.jpg" class="large-image-set">
              </div>
            </div>
          </div>
        </div>
        <div class="hompage-content-div">
          <div class="row">
            <div class="col-sm-6">
              <div class="large-image-base">
                <img src="assets/images/Dashboard3.jpg" class="large-image-set">
              </div>
            </div>
            <div class="col-sm-6">
              <span style="padding-left: 10px;">
                <h1> Exchange of Referral?</h1>
              </span>
              <p>It is a long established fact that a reader will be distracted. The point of using Lorem Ipsum is that it
                has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',
                making it look like readable English. Many desktop publishing packages and web page editors now use Lorem
                Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose
                (injected humour and the like).</p>
              <p style="padding-top: 10px;">orem Ipsum is simply dummy standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                only five centuries.</p>
              <span><button style="float: right;" class="common-journey-btn light-3-btn">Try it Out</button></span>
            </div>
  
          </div>
        </div>
  
        <div class="hompage-content-div">
          <span class="refermate-journey">Getting a Referral is click away</span>
          <div class="d-flex justify-content-space-between flex-wrap-wrap">
            <div class="company-card">
              <div class="company-card-img"><img src="assets/images/tcs.png" height="150px" width="150px"></div>
              <div>
                <div class="company-card-title">TCS Pvt Ltd</div>
                <div class="company-card-sub-title">IT Department</div>
                <div style="padding: 8px 0px 16px 0px;"><button class="request-referral-btn light-3-btn">Request Referral</button>
                </div>
              </div>
            </div>
            <div class="company-card">
              <div class="company-card-img"><img src="assets/images/deloitte.png" height="150px" width="150px"></div>
              <div>
                <div class="company-card-title">Deloitte (USI)</div>
                <div class="company-card-sub-title">Finance Department</div>
                <div style="padding: 8px 0px 16px 0px;"><button class="request-referral-btn light-3-btn">Request Referral</button>
                </div>
              </div>
            </div>
            <div class="company-card">
              <div class="company-card-img"><img src="assets/images/ey.png" height="150px" width="150px"></div>
              <div>
                <div class="company-card-title">EY</div>
                <div class="company-card-sub-title">Sales & Marketing</div>
                <div style="padding: 8px 0px 16px 0px;"><button class="request-referral-btn light-3-btn">Request Referral</button>
                </div>
              </div>
            </div>
            <div class="company-card">
              <div class="company-card-img"><img src="assets/images/infosys.png" height="150px" width="150px"></div>
              <div>
                <div class="company-card-title">Infosys Pvt Ltd</div>
                <div class="company-card-sub-title">Cyber Security</div>
                <div style="padding: 8px 0px 16px 0px;"><button class="request-referral-btn light-3-btn">Request Referral</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>