<div class="body-content bg-light">
    <div class="main-content-div">
        <div class="heading-text">People</div>
        <div class="mt-2 d-flex justify-content-space-between flex-wrap-wrap">
            <div class="referral-person-box box-shadow">
                <table border="0" width="100%" class="h-100">
                    <tr>
                        <td width="30%"><img src="../../../assets/images/avatar6.png" class="br-100 img-set"></td>
                        <td colspan="2">
                            <div>
                                <span class="title-text-2">Meghna S.</span>
                                <span class="small-text-light-1">Gurugram, India</span>
                                <span class="small-text-5">Deliotte USI</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="mt-2"><span class="small-text-light-1">DESCRIPTION:</span></div>
                            <div class="small-text-2 pt-1">Full stack developer with 5+ experience.Currently working in
                                Infosys.</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class=""><span class="small-text-light-1">SERVICES:</span></div>
                            <div class="pt-1 pb-2">
                                <span class="services-options">Refer</span>
                                <span class="services-options">Connect</span>
                            </div>
                        </td>
                    </tr>
                    <tr class="price-div">
                        <td width="50%" colspan="2" align="center" class="border-right">
                            <div class="small-text-2">Per Referral</div>
                            <div class="title-text-2"><span><b>Rs</b></span>499</div>
                        </td>
                        <td width="50%" colspan="2" align="center">
                            <div class="small-text-2">Per Connect</div>
                            <div class="title-text-2"><span><b>Rs</b></span>499</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="center">
                            <div class="pt-2"><button class="request-referral-btn">Request Referral</button></div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="referral-person-box box-shadow">
                <table border="0" width="100%" class="h-100">
                    <tr>
                        <td width="30%"><img src="../../../assets/images/avatar7.png" class="br-100 img-set" height="52px"
                                width="52px"></td>
                        <td colspan="2">
                            <div>
                                <span class="title-text-2">Ashish Singh</span>
                                <span class="small-text-light-1">Gurugram, India</span>
                                <span class="small-text-5">Infosys Pvt Ltd</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="mt-2"><span class="small-text-light-1">DESCRIPTION:</span></div>
                            <div class="small-text-2 pt-1">Full stack developer with 5+ experience.Currently working in
                                Infosys.</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class=""><span class="small-text-light-1">SERVICES:</span></div>
                            <div class="pt-1 pb-2">
                                <span class="services-options">Refer</span>
                                <span class="services-options">Connect</span>
                                <span class="services-options">Courses</span>
                            </div>
                        </td>
                    </tr>
                    <tr class="price-div">
                        <td width="50%" colspan="2" align="center" class="border-right">
                            <div class="small-text-2">Per Referral</div>
                            <div class="title-text-2"><span><b>Rs</b></span>299</div>
                        </td>
                        <td colspan="2" align="center">
                            <div class="small-text-2">Per Connect</div>
                            <div class="title-text-2"><span><b>Rs</b></span>199</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="center">
                            <div class="pt-2"><button class="request-referral-btn">Request Referral</button></div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="referral-person-box box-shadow">
                <table border="0" width="100%" class="h-100">
                    <tr>
                        <td width="30%"><img src="../../../assets/images/avatar9.png" class="br-100 img-set"></td>
                        <td colspan="2">
                            <div>
                                <span class="title-text-2 d-block">Arun Singh</span>
                                <span class="small-text-light-1 d-block">Bangluru, India</span>
                                <span class="small-text-5 d-block">TCS Pvt Ltd</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="mt-2"><span class="small-text-light-1">DESCRIPTION:</span></div>
                            <div class="small-text-2 pt-1">Full stack developer with 5+ experience.Currently working in
                                Infosys.</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class=""><span class="small-text-light-1">SERVICES:</span></div>
                            <div class="pt-1 pb-2">
                                <span class="services-options">Refer</span>
                                <span class="services-options">Connect</span>
                                <span class="services-options">Courses</span>
                            </div>
                        </td>
                    </tr>
                    <tr class="price-div">
                        <td width="50%" colspan="2" align="center" class="border-right">
                            <div class="small-text-2">Per Referral</div>
                            <div class="title-text-2"><span><b>Rs</b></span>199</div>
                        </td>
                        <td colspan="2" align="center">
                            <div class="small-text-2">Per Connect</div>
                            <div class="title-text-2"><span><b>Rs</b></span>199</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="center">
                            <div class="pt-2"><button class="request-referral-btn">Request Referral</button></div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="referral-person-box box-shadow">
                <table border="0" width="100%" class="h-100">
                    <tr>
                        <td width="30%"><img src="../../../assets/images/avatar1.png" class="br-100 img-set"></td>
                        <td colspan="2">
                            <div>
                                <span class="d-block title-text-2">Kiran Singh</span>
                                <span class="d-block small-text-light-1">Hyderabad, India</span>
                                <span class="d-block small-text-5">Cisco</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="mt-2"><span class="small-text-light-1">DESCRIPTION:</span></div>
                            <div class="small-text-2 pt-1">Full stack developer with 5+ experience.Currently working in
                                Infosys.</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class=""><span class="small-text-light-1">SERVICES:</span></div>
                            <div class="pt-1 pb-2">
                                <span class="services-options">Refer</span>
                                <span class="services-options">Connect</span>
                                <span class="services-options">Courses</span>
                            </div>
                        </td>
                    </tr>
                    <tr class="price-div">
                        <td width="50%" colspan="2" align="center" class="border-right">
                            <div class="small-text-2">Per Referral</div>
                            <div class="title-text-2"><span><b>Rs</b></span>699</div>
                        </td>
                        <td colspan="2" align="center">
                            <div class="small-text-2">Per Connect</div>
                            <div class="title-text-2"><span><b>Rs</b></span>399</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="center">
                            <div class="pt-2"><button class="request-referral-btn">Request Referral</button></div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="referral-person-box box-shadow">
                <table width="100%" class="h-100">
                    <tr>
                        <td width="30%"><img src="../../../assets/images/avatar3.png" class="br-100 img-set"></td>
                        <td colspan="2">
                            <div>
                                <span class="d-block title-text-2">Ankit Sharma</span>
                                <span class="d-block small-text-light-1">Gurugram, India</span>
                                <span class="d-block small-text-5">HCL Pvt Ltd</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="mt-2"><span class="small-text-light-1">DESCRIPTION:</span></div>
                            <div class="small-text-2 pt-1">Full stack developer with 5+ experience.Currently working in
                                Infosys.</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class=""><span class="small-text-light-1">SERVICES:</span></div>
                            <div class="pt-1 pb-2">
                                <span class="services-options">Refer</span>
                                <span class="services-options">Connect</span>
                                <span class="services-options">Courses</span>
                            </div>
                        </td>
                    </tr>
                    <tr class="price-div">
                        <td width="50%" colspan="2" align="center" class="border-right">
                            <div class="small-text-2">Per Referral</div>
                            <div class="title-text-2"><span><b>Rs</b></span>699</div>
                        </td>
                        <td colspan="2" align="center">
                            <div class="small-text-2">Per Connect</div>
                            <div class="title-text-2"><span><b>Rs</b></span>399</div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="center">
                            <div class="pt-2"><button class="request-referral-btn">Request Referral</button></div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

</div>