<div id="sidebar-container" [ngClass]="{'sidebar-expanded': !sidebarCollapsed, 'sidebar-collapsed': sidebarCollapsed}" class="sidenav d-none d-md-block">
    <ul class="list-group">
        <div (click)="openCreatePostModal()" class="create-post-div">
            <div class="create-post-sub-div dark-selected d-flex justify-content-center">
                <div>
                    <span class="fa fa-plus create-post-icon"></span>
                    <span class="menu-collapsed create-post-text" [ngClass]="{'d-none': sidebarCollapsed}">Create Post</span>
                </div>
            </div>
        </div>
        <div [routerLink]="['/dashboard']" class="side-menu-main-div">
            <div class="dark-light-1 pl-10" [class.light-selected]="isLinkActive('/dashboard')">
                <span class="fa fa-dashboard"></span>
                <span class="menu-collapsed side-menu-text"  [ngClass]="{'d-none': sidebarCollapsed}">Feeds</span>
            </div>
        </div>
        <div [routerLink]="['/profile']"  class="side-menu-main-div">
            <div class="dark-light-1 pl-10" [class.light-selected]="isLinkActive('/profile')">
                <span class="fa fa-user"></span>
                <span class="menu-collapsed side-menu-text"  [ngClass]="{'d-none': sidebarCollapsed}">Profile</span>
            </div>
        </div>
        <div [routerLink]="['/referral']" class="side-menu-main-div">
            <div class=" dark-light-1 pl-10" [class.light-selected]="isLinkActive('/referral')">
                <span class="fa fa-suitcase"></span>
                <span class="menu-collapsed side-menu-text"  [ngClass]="{'d-none': sidebarCollapsed}">Referrals</span>
            </div>
        </div>
        <div [routerLink]="['/exchange-referral']" class="side-menu-main-div">
            <div class=" dark-light-1 pl-10" [class.light-selected]="isLinkActive('/exchange-referral')">
                <span class="fa fa-exchange"></span>
                <span class="menu-collapsed side-menu-text"  [ngClass]="{'d-none': sidebarCollapsed}">Exchange</span>
            </div>
        </div>
        <div class="side-nav-block-2">
            <div class="side-nave-line"></div>
            <div class="side-menu-main-div">
                <div class="default-black-color pl-10" [routerLink]="['/notification']" [class.light-selected]="isLinkActive('/notification')">
                    <span class="fa fa-bell"></span>
                    <span class="menu-collapsed side-menu-text"  [ngClass]="{'d-none': sidebarCollapsed}">Notifications</span>
                </div>
            </div>
            <div (click)="sidebarCollapse()" class="side-menu-main-div" data-toggle="sidebar-colapse">
                <div class=" default-black-color pl-10">
                    <span id="collapse-icon" class="fa fa-arrow-left" [ngClass]="{'fa-angle-double-left': !sidebarCollapsed, 'fa-angle-double-right': sidebarCollapsed}"></span>
                    <span id="collapse-text" class="menu-collapsed side-menu-text"  [ngClass]="{'d-none': sidebarCollapsed}">Collapse</span>
                </div>
            </div>
        </div>

        <div class="side-nav-block-3">
            <div class="side-nave-line"></div>
            <div class="side-menu-main-div">
                <div class=" dark-light-1 pl-10">
                    <div class="Premium-square"></div>
                    <span class="menu-collapsed try-premium-text"  [ngClass]="{'d-none': sidebarCollapsed}">Try Premium for &#8377;0</span>
                </div>
            </div>
            <div class="side-menu-main-div" [routerLink]="['/settings']">
                <div class=" dark-light-1 pl-10">
                    <span class="fa fa-cog"></span>
                    <span class="menu-collapsed setting-text"  [ngClass]="{'d-none': sidebarCollapsed}">Settings</span>
                </div>
            </div>
            <br>
        </div> 
    </ul>
</div>

  